/* ===========================================================
   DEFAULT BLOG LAYOUT
=========================================================== */
.post {
    margin: 15px 0 30px 0;
    .topmeta {
        margin: 0 0 12px;
        @include clearfix;
        .date {
            float: left;
            min-height: 16px;
            line-height: 16px;
            font-style: italic;
        }
        .edit {
            float: right;
            min-height: 16px;
            line-height: 16px;
            a {
                background: url(../images/pencil.png) no-repeat top left;
                padding: 1px 0 1px 20px;
            }
        }
        .category {
            float: right;
            padding: 0 0 0 20px;
            min-height: 16px;
            line-height: 16px;
            background: url(../images/folder.png) no-repeat top left;
        }
    }
    .bottommeta {
        @include clearfix;
        .category {
            float: left;
            padding: 0 0 0 20px;
            min-height: 16px;
            line-height: 16px;
            background: url(../images/folder.png) no-repeat top left;
        }
        .comments {
            float: right;
            padding: 0 0 0 20px;
            min-height: 16px;
            line-height: 16px;
            background: url(../images/comments.png) no-repeat top left;
        }
        .edit {
            float: right;
            a {
                background: url(../images/pencil.png) no-repeat top left;
                padding: 1px 0 1px 20px;
            }
        }
    }
    .postcontent {
        margin: 12px 0 0;
        @include clearfix;
    }
    .tags {
        display: block;
        min-height: 16px;
        padding: 0 0 7px 20px;
        background: url(../images/tag.png) no-repeat 0 0;
    }
}
.archive {
    .post {
        .bottommeta {
            padding: 4px 6px;
            background-color: $post-meta-bg;
            border-bottom: 1px solid $post-meta-border;
        }
        h2 {
            margin: 0 0 4px;
            a {
                text-decoration: none;
            }
        }
    }
}
.post-comments {
    h2 {
        margin: 0;
    }
    .comment-list {
        margin: 15px 0 0 0;
        padding: 0;
        list-style: none;
        ul {
            margin: 0;
            padding: 0 10px 0 10px;
            list-style: none;
        }
        li {
            margin: 10px 0;
            background-color: $comment-bg;
            border: 1px solid $comment-border;
            &.thread-alt, &.alt {
                background-color: $comment-alt-bg;
                border-color: $comment-alt-border;
            }
        }
        ul li:first-child {
            margin-top: 0;
        }
        .comment-author {
            margin: 7px 0 0 7px;
            .avatar {
                float: left;
                margin: 0 8px 0 0;
            }
            cite {
                float: left;
                height: 18px;
                font-weight: bold;
                font-style: normal;
            }
            .says {
                display: none;
            }
        }
        .comment-meta {
            padding: 18px 0 3px;
            margin: 0 7px 2px;
            border-bottom: 1px solid $comment-meta-border;
        }
        p {
            margin: 0;
            padding: 6px 10px;
        }
        .reply {
            padding: 0 0 6px 10px;
        }
    }
    .comments-respond {
        margin: 20px 0 0;
        h3 {
            margin: 0 0 10px;
        }
        p.form-field-wrapper {
            margin: 10px 0;
        }
        label {
            margin: 0 0 3px;
            display: block;
            &.required {
                font-weight: bold;
            }
            .note {
                font-weight: normal;
                font-style: italic;
            }
        }
        input.textbox {
            width: 250px;
        }
        textarea {
            width: 500px;
            height: 200px;
        }
    }
}