@import "normalize";
@import "var";


/*=======================
	FONTS
=========================*/

/*@font-face {
    font-family: 'Test';
    src: url('../fonts/test-webfont.eot?') format('eot'),
         url('../fonts/test-webfont.woff') format('woff'),
         url('../fonts/test-webfont.ttf') format('truetype'),
         url('../fonts/test-webfont.svg#test') format('svg');
    font-weight: normal;
    font-style: normal;
}*/


/*=======================
	CLEARS
=========================*/

.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.clear {
	clear: both;
}


/*=======================
	PAGE
=========================*/

body {
	background: $background;
}

.container {
	width: 962px;
	margin: 0 auto;
}

.main {
	width: 100%;
	float: left;
	position: relative;
}

/*=======================
	HEADER
=========================*/

.header {
	float: left;
	position: relative;
	width: 100%;
	padding-top: 5px;

	.logo {
		float: left;
	}
}

/*=======================
	NAV
=========================*/

.nav {
	float: left;
	position: relative;
	width: 100%;

	ul {
		float: left;
		position: relative;

		li {
			float: left;
			position: relative;
			margin-left: 10px;
			padding-left: 10px;
			border-left: 1px solid $menu-border;

			&:first-child {
				margin-left: 0;
				padding-left: 0;
				border-left: 0;
			}

			a {
				float: left;
				font-size: 16px;
				line-height: 16px;
				color: $menu;
			}

			&.current-menu-item a, a:hover {
				color: $hover;
			}
		}
	}
}

/*=======================
	BANNER
=========================*/

.banner {
	width: 100%;
	height: $banner-height;
	float: left;
	position: relative;

	.banner-nav {
		position: absolute;
		right: 0px;
		bottom: 0px;
		z-index: 30;
		padding: 10px;

		a {
			width: 9px;
			height: 9px;
			float: left;
			margin-right: 4px;
			text-indent: -999px;
			overflow: hidden;
			background: url(../images/banner-nav-bg.png) top left no-repeat;

			&.activeSlide { background-position: center center; }

			&:hover { background-position: top right; }
		}
	}

	.banner-slides {
		width: 100%;
		height: $banner-height;

		.banner-slide {
			width: 100%;
			height: $banner-height;
		}
	}
}


/*=======================
	CONTENT
=========================*/

.content {
	float: left;
	position: relative;
	width: 75%;


	/*====TYPOGRAPHY====*/

	h1 {
		font: 30px/30px $custom;
		color: $header;
	}

	h2 {
		font: 20px/20px $custom;
		color: $header;
	}

	h3 {
		font: 16px/16px $custom;
		color: $subheader;
	}

	h4 {
		font: 14px/14px $normal;
		color: $subheader;
	}

	p {
		font: 14px/18px $normal;
		color: $text;
		padding-bottom: 15px;

		a {
			color: $link;
			&:hover {text-decoration: underline;}
		}
	}

	ul {
		margin: 0 0 15px 20px;
		list-style: disc outside;

		li {
			color: $text;
			font: 14px/18px $normal;

			a {
				color: $link;
				&:hover {text-decoration: underline;}
			}
		}
	}

}


/*=======================
	SIDEBAR
=========================*/

.sidebar {
	float: right;	
	position: relative;
	width: 25%;
}

/*=======================
	FOOTER
=========================*/

.footer {
	float: left;
	width: 100%;
	min-height: 80px;
	
}

/* =======================================
   WP EDITOR
======================================= */

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}
