/* ===========================================================
   TYPOGRAPHY
=========================================================== */

.page-wrap {

    h1 {
        font: 30px/30px $f-special;
        color: $c-header;
    }

    h2 {
        font: 20px/20px $f-special;
        color: $c-header;
    }

    h3 {
        font: 16px/16px $f-special;
        color: $c-subheader;
    }

    h4 {
        font: 14px/14px $f-default;
        color: $c-subheader;
    }

    p {
        font-size: $f-size;
        line-height: $f-line-height;
        font-family: $f-default;
        color: $c-text;
        padding-bottom: 15px;

        a {
            color: $c-link;
            &:hover {text-decoration: underline;}
        }
    }

    ul {
        margin: 0 0 15px 20px;
        list-style: disc outside;

        li {
            color: $c-text;
            font-size: $f-size;
            line-height: $f-line-height;
            font-family: $f-default;

            a {
                color: $c-link;
                &:hover {text-decoration: underline;}
            }
        }
    }

    ol {
        margin: 0 0 15px 20px;
        list-style: decimal outside;

        li {
            color: $c-text;
            font-size: $f-size;
            line-height: $f-line-height;
            font-family: $f-default;

            a {
                color: $c-link;
                &:hover {text-decoration: underline;}
            }
        }
    }
}