/* ===========================================================
   BREAKPOINTS
=========================================================== */
$bp-XL: 1280px;
$bp-L: 1100px;
$bp-M: 990px;
$bp-S: 850px;
$bp-XS: 680px;
$bp-XXS: 500px;


/*===========================================================
   FONTS
=========================================================== */ 
$f-default: Arial, Helvetica, sans-serif;
$f-special: "robotocond", Arial, Helvetica, sans-serif;

$f-size: 16px;
$f-line-height: 24px;

/* ===========================================================
   COLORS
=========================================================== */

//default colors
$c-black: #000;
$c-white: #fff;
$c-gray: #ccc;

//brand colors
//$c-red: #9e0b0f;
//$c-blue: #0054a6;
//$c-yellow: #fff568;

$c-primary: #9e0b0f;
$c-secondary: #0054a6;
$c-tertiary: #fff568;


//font colors
$c-text: $c-black;
$c-header: $c-primary;
$c-subheader: $c-text;

$c-link: $c-primary;


//nav colors
$c-menu: $c-white;
$c-hover: $c-primary;
$c-menu-border: darken($c-primary, 10%);


//element colors
$c-background: $c-white;
$c-border: $c-gray;



/* ===========================================================
   SIZES
=========================================================== */
$page-width: 1140px;
$banner-height: 414px;

/* ===========================================================
   BLOG COLORS
=========================================================== */
$post-meta-bg: #f2f2f2;
$post-meta-border: #e5e5e5;
$comment-bg: #fafafa;
$comment-border: #e0e0e0;
$comment-alt-bg: #f2f2f2;
$comment-alt-border: #d9d9d9;
$comment-meta-border: #e5e5e5;