@import "normalize";
@import "fonts";
@import "mixins";
@import "var";

/* ===========================================================
   DEFAULTS
=========================================================== */
body {
    font: $default-font-size $default-font-family;
    line-height: 1.5;
    color: $default-font-color;
    background-color: #fff;
}
a {
    color: $default-link-color;
    text-decoration: underline;
    &:hover, &:active {
        color: $default-font-color;
    }
}
input, select, textarea {
    padding: 3px;
    font: $default-font-family $default-font-size;
    color: $default-font-color;
    background: #fff;
    border: 1px #ccc solid;
}
input[type=submit] {
    padding: 3px 6px;
    font: $default-font-family $default-font-size;
    color: $default-font-color;
    border: 1px #ccc solid;
    border-radius: 5px;
    @include linear-gradient-svg('to bottom', 'ffffff', '0', 'eeeeee', '100');
    cursor: pointer;
}
br.clear {
    clear: both;
    height: 0;
    overflow: hidden;
}


/* ===========================================================
   PAGE WRAPPER
=========================================================== */
.container {
    margin: 0 auto;
    @extend %clearfix;
}


/* ===========================================================
   HEADER
=========================================================== */
.header {
    @extend %clearfix;
}


/* ===========================================================
   MAIN NAV
=========================================================== */
.nav {
    @extend %clearfix;
}


/* ===========================================================
   PAGE BODY
=========================================================== */
.page-body {
    @extend %clearfix;
}


/* ===========================================================
   MAIN COLUMN
=========================================================== */
.main {
    @extend %clearfix;
}

.aligncenter {
    text-align: center;
}
.alignleft {
    float: left;
}
.alignright {
    float: right;
}
img.alignleft, .wp-caption.alignleft {
    margin: 0 12px 4px 0;
}
img.alignright, .wp-caption.alignright {
    margin: 0 0 4px 12px;
}
img.aligncenter, .wp-caption.aligncenter {
    display: block;
    margin: 0 auto;
}
.wp-caption {
    margin: 10px 0;
    padding: 4px 0 0;
    text-align: center;
    background-color: #f3f3f3;
    border: 1px solid #ddd;
    border-radius: 3px;
    .wp-caption-text {
        padding: 0 4px 5px;
        font-size: 11px;
        line-height: 17px;
    }
}

/* ===========================================================
   SIDE COLUMN
=========================================================== */
.side {
    @extend %clearfix;
}


/* ===========================================================
   SPECIFIC PAGES
=========================================================== */
@import 'blog';


/* ===========================================================
   FOOTER
=========================================================== */
.footer {
    @extend %clearfix;
}
