/* =============================================================================
   HORIZONTAL SLIDING RESPONSIVE MENU - OFF CANVAS
============================================================================= */
.all-content-wrapper {
    overflow: hidden;
}
.all-content-wrapper-inner {
    position: relative;
    left: 0;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    .menu-expanded & {
        left: 100%;
    }
}
#main-nav-toggle {
    display: none;
    padding: 5px 10px;
    color: #000;
    text-decoration: none;
    background: #ccc;
    &:hover, &:active {
        background: #ddd;
    }
}
#main-nav {
    li {
        position: relative;
        float: left;
        margin: 0 1px 0 0;
        .link-wrap {
            display: block;
        }
        a {
            display: block;
            padding: 5px 10px;
            color: #000;
            text-decoration: none;
            background-color: #ccc;
            transition: background-color 0.3s;
            &:hover, &:active {
                background-color: #ddd;
            }
        }
        ul {
            transition: opacity 0.1s;
            position: absolute;
            left: -9999px;
            z-index: 1000;
            width: 150px;
            opacity: 0;
            background: #ddd;
            display: none;
            li {
                float: none;
                margin: 0;
                border-top: 1px #fff solid;
                &:first-child {
                    border-top: none;
                }
                a {
                    display: block;
                    padding: 5px 10px;
                    color: #000;
                    text-decoration: none;
                    background: none;
                    &:hover, &:active {
                        background-color: #eee;
                    }
                }
                &.menu-item-has-children {
                    > .link-wrap {
                        position: relative;
                        padding: 0 31px 0 0;
                        .arrow {
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            z-index: 2;
                            display: block;
                            width: 30px;
                            background: #ddd url(../images/nav-arrow-right.png) no-repeat 50% 50%;
                            border-left: 1px #fff solid;
                            cursor: pointer;
                            &:hover {
                                background-color: #eee;
                            }
                        }
                    }
                }
            }
            ul {
                left: 150px;
                top: -1px;
                border-left: 1px #fff solid;
            }
        }
    }
}


/* === NAV > 640 ======================================================== */
@media (min-width: 641px) {
    #main-nav {
        li.back {
            display: none;
        }
        > li:hover {
            > .link-wrap {
                a {
                    background-color: #ddd;
                }
            }
            > ul {
                display: block !important;
                left: 0;
                opacity: 1;
            }
        }
        ul > li.menu-item-has-children:hover {
            background-color: #eee;
            > .link-wrap .arrow {
                background-color: #eee;
            }
            > ul {
                display: block;
                opacity: 1;
            }
        }
    }
} /* nav < 640 */


/* === NAV < 640 ======================================================== */
@media (max-width: 640px) {
    .all-content-wrapper-inner {
        z-index: 3000;
    }
    #main-nav-toggle {
        display: inline-block;
    }
    #main-nav {
        position: absolute;
        left: -100%;
        top: 0;
        width: 100%;
        z-index: 2000;
        -webkit-transition: left .5s;
        transition: left .5s;
        li {
            position: static;
            float: none;
            margin: 0 0 1px;
            &.menu-item-has-children {
                .link-wrap {
                    position: relative;
                    padding: 0 31px 0 0;
                }
                .arrow {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 2;
                    display: block;
                    width: 30px;
                    background: #ccc url(../images/nav-arrow-right.png) no-repeat 50% 50%;
                    cursor: pointer;
                    &:hover {
                        background-color: #ddd;
                    }
                }
                ul {
                    display: none;
                    top: 0;
                    z-index: 1;
                    left: 100%;
                    width: 100%;
                    padding: 0;
                    opacity: 1;
                    -webkit-transition: left .5s;
                    transition: left .5s;
                    li {
                        .link-wrap {
                            padding: 0;
                        }
                        a {
                            padding: 5px 10px;
                        }
                        .arrow {
                            background-image: url(../images/nav-arrow-right.png);
                            background-color: transparent;
                        }
                        &.back {
                            a {
                                padding-left: 30px;
                            }
                        }
                    }
                    ul {
                        border-left: none;
                    }
                }
            }
        }
        li.back {
            a {
                padding-left: 30px;
                background-image: url(../images/nav-arrow-left.png);
                background-repeat: no-repeat;
                background-position: 10px 50%;
            }
        }
        &.level-below-expanded {
            left: -200%;
        }
        li.level-below-expanded {
            > ul {
                left: 0;
            }
        }
        li.expanded {
            > ul {
                left: 100%;
            }
        }
    }
    .menu-expanded {
        #main-nav li.menu-item-has-children.expanded > ul,
        #main-nav li.menu-item-has-children.level-below-expanded > ul {
            display: block;
        }
    }
} /* nav < 640 */