//--------------------------------------------------------------
// Blog
//--------------------------------------------------------------
main.blog{
	header.page-header{
		margin:0px auto;
	}
	.sidebar{
		order:2;
		margin-left:2%;
		width:25%;

		.block{
			background-color:#eee;
			margin-bottom: 20px;
			padding:10px 20px;
		}

		h1,h2,h3,h4,p,li{
			color:$color-primary;
		}
		h2{
			margin-bottom: 10px;
		}
		ul{
			padding-bottom:10px;
			li{
				a{
					color:#fff;
					text-decoration: none;
					transition:all 0.5s ease 0s;
					color:$color-primary;
					&:hover{
						color:$color-secondary;
					}
				}
			}
		}
	}
	.blog-content{
		order:1;
		width:73%;
		article.post{
			border-bottom:1px solid $color-secondary;
			padding-bottom:40px;
			margin-bottom:40px;
			&:last-child{
				padding-bottom:0px;
				margin-bottom:0px;
				border-bottom:none;
			}
			.image{
				width:25%;
				margin-right:3%;
				order:1;
			}
			.post-content{
				width:100%;
				&.image{
					order:2;
					width:72%;
					margin-right:0px;
				}
			}
			.entry-header{
				h2.entry-title{
					margin-bottom: 10px;
					line-height: 2.25rem;
					a{
						text-decoration: none;
						color:$color-primary;
						transition:all 0.5s ease 0s;
						&:hover{
							color:$color-secondary;
							opacity: 1;
						}
					}
				}
			}
			.entry-meta{
				font-style: italic;
				.posted-on{
					display: inline-block;
				}
			}
			.entry-content{
				margin-top:10px;
				a.more-link{
					color:$color-primary;
					transition:all 0.5s ease 0s;
					&:hover{
						color:$color-secondary;
					}
				}
			}
		}
	}
}

main.single{
	article{
		.post-content{
			.entry-header{
				margin-top:20px;
				.entry-title{
					margin-bottom: 0px;
				}
				.entry-meta{
					border-bottom:1px solid #ccc;
					margin-bottom:25px;
					padding-bottom:30px;
					.left{
						order:1;
						width:50%;
						.posted-on{
							display: inline-block;
						}
					}
					.right{
						order:1;
						width:50%;
					}
				}
			}
		}
	}
	.post__social{
		padding:10px 0px;
		.social-share{
			a{
				margin-left:5px;
			}
		}
	}
}
