//--------------------------------------------------------------
// Blog
//--------------------------------------------------------------
main.blog{
	.sidebar{
		padding:1% 2%;
		background-color:#eee;
		order:2;
		margin-left:2%;
		width:25%;
		h1,h2,h3,h4,p,li{
			color:$color-primary;
		}
		h2{
			margin-bottom: 10px;
		}
		ul{
			li{
				a{
					color:#fff;
					text-decoration: none;
					transition:all 0.5s ease 0s;
					color:$color-primary;
					&:hover{
						color:$color-secondary;
					}
				}
			}
		}
	}
	.blog-content{
		order:1;
		width:73%;
		article.post{
			border-bottom:1px solid $color-secondary;
			padding-bottom:40px;
			margin-bottom:40px;
			&:last-child{
				padding-bottom:0px;
				margin-bottom:0px;
				border-bottom:none;
			}
			.image{
				width:25%;
				margin-right:3%;
				order:1;
			}
			.post-content{
				width:100%;
				&.image{
					order:2;
					width:72%;
					margin-right:0px;
				}
			}
			.entry-header{
				h2.entry-title{
					margin-bottom: 10px;
					line-height: 2.25rem;
					a{
						text-decoration: none;
						color:$color-primary;
						transition:all 0.5s ease 0s;
						&:hover{
							color:$color-secondary;
							opacity: 1;
						}
					}
				}
			}
			.entry-meta{
				font-style: italic;
			}
			.entry-content{
				margin-top:10px;
				a.more-link{
					color:$color-primary;
					transition:all 0.5s ease 0s;
					&:hover{
						color:$color-secondary;
					}
				}
			}
		}
	}
}
