/* ===========================================================
   HEADER
=========================================================== */

.header {
    @extend %clearfix;
    width: 100%;
    float: left;
    position: relative;

    .logo {
        margin-top: 8px;
    }
}