/* ===========================================================
   PAGE WRAP
=========================================================== */

.page-wrap {
    @extend %clearfix;
    width: 100%;
    float: left;
    position: relative;
    background: white;
}


/* ===========================================================
   MAIN
=========================================================== */
.main {
    @extend %clearfix;
}


/* ===========================================================
   SIDE COLUMN
=========================================================== */
.sidebar {
    @extend %clearfix;
}