/* ===========================================================
   BANNER
=========================================================== */

.banner {
    @extend %clearfix;
    min-height: $banner-height;
    width: 100%;
    float: left;
    position: relative;
}