/* =============================================================================
    ALIGNMENTS
============================================================================= */
.aligncenter {
    text-align: center;
}
.alignleft {
    float: left;
}
.alignright {
    float: right;
}
img.alignleft, .wp-caption.alignleft {
    margin: 0 12px 4px 0;
}
img.alignright, .wp-caption.alignright {
    margin: 0 0 4px 12px;
}
img.aligncenter, .wp-caption.aligncenter {
    display: block;
    margin: 0 auto;
}