/* =============================================================================
   FOOTER
============================================================================= */
.footer {
    @extend %clearfix;
    width: 100%;
    float: left;
    position: relative;
    min-height: 100px;
}