/* =============================================================================
    FORMS
============================================================================= */
input[type=text],
input[type=password],
input[type=search],
input[type=email], 
input[type=url],
input[type=tel],
input[type=number],
input[type=range],
input[type=date],
input[type=month],
input[type=week],
input[type=time],
input[type=datetime],
input[type=datetime-local],
input[type=color],  
select, 
textarea {
    padding: 3px;
    font: $default-font-size $default-font;
    color: $default-font-color;
    background: #fff;
    border: 1px #ccc solid;
}
input[type=submit] {
    padding: 3px 6px;
    font: $default-font-size $default-font;
    color: $default-font-color;
    border: 1px #ccc solid;
    border-radius: 5px;
    @include linear-gradient-svg('to bottom', 'ffffff', '0', 'eeeeee', '100');
    cursor: pointer;
}