/* =============================================================================
   HEADER
============================================================================= */
.header {
    @extend %clearfix;
    width: 100%;
    float: left;
    position: relative;

    .logo {
    	float: left;
    }
}