/* =============================================================================
    LINKS
============================================================================= */
a {
    color: $c-link-color;
    text-decoration: underline;
    &:hover, &:active {
        color: $c-link-color-hover;
    }
}