//--------------------------------------------------------------
// Footer
//--------------------------------------------------------------
.site-footer {

	@include padding($space null);

	flex: 0 0 100%;
	width: 100%;

	.site-info {

		@include media($desktop) {
			flex: 0 0 100%;
			display: flex;
		}

		.col{
			width: 100%;
			padding:10px 0px;

			@include media($desktop) {
				width:50%;
				flex: 0 0 auto;
				padding:0px;
			}

			.social-icons{
				@include media($desktop) {
					float:right;
				}
			}
		}
	} 

	.bottom{
		text-align: center;
		clear:both;
	}
}
